<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Index</title>
  <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
	
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>
    <body>
        <section class="py-5 text-center container">
            {% if usuario %}
            <div class="row">
                <div class="alert alert-success" role="alert">
                    <h2>Olá {{ usuario }}, você está logado!</h2>
                    <a href="/logout" class="btn btn-secondary my-2">Sair</a>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="alert alert-danger" role="alert">
                    <h2>Usuário ainda não logou...</h2>
                    <a href="/login" class="btn btn-primary my-2">Ir para Login</a>
                </div>
            </div>
            {% endif %}
        </section>
    </body>
</html>