<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tela de Login</title>
  <link rel="icon" type="image/x-icon" href="./favicon.ico">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>

<body>
	<div class="text-center my-5">
		<h1>EXEMPLO DE LOGIN</h1>
		<a href="/login_ms" type="button" class="btn btn-primary my-3">
			<img src="/static/images/ms-logo.png" alt="logotipo Microsoft" width="30" height="30"> Logar Entra ID
		</a>
		<div class="my-3">Exemplo de Aula - Prof. Mauricio de Oliveira Dian</div>
		<div class="my-3"><a href="/">Voltar ao Início</a></div>
	</div>
</body>
</html>
